@import "../../style/variables";

.highlightBox {
  width: 100%;
  height: 50vh;
  background-size: cover;
}

@media screen and (min-width: @computerBreakpoint) {
  .highlightBox {
    width: 50%;
    height: 50vh;
  }
}