@import '../../../style/variables.less';

.highlightBox {
  width: 100%;
  height: 50vh;
  background-size: cover;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  color: white;

  .highlightBox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    .highlightBox-text {
      transform: translateY(-20px);
      opacity: 0;
      transition: 0.5s;
      width: 80%;
      font-size: 25px;
      font-family: 'hand-writing';

      @media (max-width: 500px) {
        display: none;
      }

    }

    .highlightBox-title {
      opacity: 1;
      transform: translateY(0px);
      transition: 0.5s;
      font-family: 'old-book';
      color: @gold;
      text-shadow: 0px 0px 2px black;
    }
  }

  &:hover {
    filter: brightness(60%);
    .highlightBox-text {
      transform: translateY(-40px);
      opacity: 1;
    }
    .highlightBox-title {
      transform: translateY(-40px);
      opacity: 0;
    }
  }
}

@media screen and (min-width: @computerBreakpoint) {
  .highlightBox {
    width: 50%;
    height: 50vh;
  }
}
