@import '../../style/variables';

.MobileNavBar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: @dark;
  position: relative;

  .burger-menu {
    margin-left: 5px;
    font-size: 30px;
    line-height: 30px;
    color: #CCAC00;
  }

  .mobile-dropdown {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 70%;
    margin-top: 60px;
    border-top: 2px solid grey;
    background-color: @dark;
    z-index: 2;

    &.open {
      transform: translateX(0);
      transition: 0.5s;
    }

    &.close {
      transform: translateX(-100%);
      transition: 0.5s;
    }

    .drop-down-item {
      padding: 10px;

      .item-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-item {
          color: @gold;
          font-size: 22px;
        }

        .animate {
          transition: 0.3s;

          &.active {
            transform: rotate(90deg);
          }
        }
      }

      .sub-item-list {
        display: flex;
        flex-direction: column;
        margin-left: 15%;

        .sub-item {
          width: max-content;
          font-size: 18px;
          color: #CCAC00;
          transform: translateX(-250%);
          transition: 0.3s;

          &.active {
            transform: translateX(0%);
          }
        }
      }
    }
  }
}

.DesktopNavBar {
  height: 80px;
  position: relative;
  z-index: 1;
  background-color: @dark;

  .nav-items {
    display: flex;
    height: 80px;
    color: @gold;
    line-height: 80px;
    font-size: 22px;
    justify-content: center;

    .item {
      padding: 0px 10px;

      &.selected {
        text-shadow: 0px 0px 1px lightgray;
      }
    }

    .sub-items {
      position: absolute;
      background: @dark;
      border-radius: 4px;
      box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
      transition:all 0.3s, opacity 0.1s, transform 0.2s;
      transform-origin: 50% 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity:0;

      .sub-item {
        padding: 0px 10px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
