// Colors

@gold : #c3a758;
@dark: #121212;
@title: #c9aa71;
@text: #d3c7aa;
@text: #c4b998;

// Breakpoints

@mobileBreakpoint            : 320px;
@tabletBreakpoint            : 768px;
@computerBreakpoint          : 992px;
@largeMonitorBreakpoint      : 1200px;
@widescreenMonitorBreakpoint : 1920px;

// Fonts

@font-face {
  font-family: 'old-book';
  src: url('./fonts/Title-old-book.ttf');
}

@font-face {
  font-family: 'hand-writing';
  src: url('./fonts/HanSrf.ttf');
}
