//@import '../../../style/variables';

.homeIntro {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: -60px;
  background-image: url('http://rolecon.ru/uploads/2016-09/9sQ-enobJD-1474918641.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 50px;

  h1 {
    display: flex;
    margin: auto;
    font-family: 'old-book';
    font-size: 75px;
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}
